OrchardBrands for WebOMOI/TokenService/TokenService-rl2.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice.tokenmanager.nubridges.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice.tokenmanager.nubridges.com" xmlns:intf="http://webservice.tokenmanager.nubridges.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="http://webservice.tokenmanager.nubridges.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ResponseData">
    <sequence>
     <element name="deletedTokenCount" nillable="true" type="xsd:int"/>
     <element name="head" nillable="true" type="xsd:string"/>
     <element name="sensitiveData" nillable="true" type="xsd:string"/>
     <element name="sensitiveDataLength" nillable="true" type="xsd:int"/>
     <element name="statusCode" nillable="true" type="xsd:int"/>
     <element name="statusMessage" nillable="true" type="xsd:string"/>
     <element name="tail" nillable="true" type="xsd:string"/>
     <element name="timeTaken" nillable="true" type="xsd:long"/>
     <element name="token" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_xsd_string">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfResponseData">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="impl:ResponseData"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="sendToWasteBasketBulkRequest">

      <wsdl:part name="apiKey" type="xsd:string"/>

      <wsdl:part name="protectionStrategyName" type="xsd:string"/>

      <wsdl:part name="tokens" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="revealBulkRequest">

      <wsdl:part name="apiKey" type="xsd:string"/>

      <wsdl:part name="protectionStrategyName" type="xsd:string"/>

      <wsdl:part name="token" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="userName" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="protectCipherRequest1">

      <wsdl:part name="apiKey" type="xsd:string"/>

      <wsdl:part name="protectionStrategyName" type="xsd:string"/>

      <wsdl:part name="encryptedData" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="revealCipherBulkRequest">

      <wsdl:part name="apiKey" type="xsd:string"/>

      <wsdl:part name="protectionStrategyName" type="xsd:string"/>

      <wsdl:part name="token" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="userName" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="sendToWasteBasketBulkResponse">

      <wsdl:part name="sendToWasteBasketBulkReturn" type="impl:ArrayOfResponseData"/>

   </wsdl:message>

   <wsdl:message name="protectResponse">

      <wsdl:part name="protectReturn" type="impl:ResponseData"/>

   </wsdl:message>

   <wsdl:message name="retrieveFromWasteBasketResponse">

      <wsdl:part name="retrieveFromWasteBasketReturn" type="impl:ResponseData"/>

   </wsdl:message>

   <wsdl:message name="revealCipherBulkResponse">

      <wsdl:part name="revealCipherBulkReturn" type="impl:ArrayOfResponseData"/>

   </wsdl:message>

   <wsdl:message name="protectCipherRequest">

      <wsdl:part name="apiKey" type="xsd:string"/>

      <wsdl:part name="protectionStrategyName" type="xsd:string"/>

      <wsdl:part name="encryptedData" type="xsd:string"/>

      <wsdl:part name="userName" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="protectRequest1">

      <wsdl:part name="apiKey" type="xsd:string"/>

      <wsdl:part name="protectionStrategyName" type="xsd:string"/>

      <wsdl:part name="data" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="protectRequest">

      <wsdl:part name="apiKey" type="xsd:string"/>

      <wsdl:part name="protectionStrategyName" type="xsd:string"/>

      <wsdl:part name="data" type="xsd:string"/>

      <wsdl:part name="userName" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="lookupTokenBulkRequest">

      <wsdl:part name="apiKey" type="xsd:string"/>

      <wsdl:part name="protectionStrategyName" type="xsd:string"/>

      <wsdl:part name="data" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="protectCipherBulkRequest">

      <wsdl:part name="apiKey" type="xsd:string"/>

      <wsdl:part name="protectionStrategyName" type="xsd:string"/>

      <wsdl:part name="encryptedData" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="userName" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="lookupTokensResponse">

      <wsdl:part name="lookupTokensReturn" type="impl:ArrayOfResponseData"/>

   </wsdl:message>

   <wsdl:message name="sendToWasteBasketResponse">

      <wsdl:part name="sendToWasteBasketReturn" type="impl:ResponseData"/>

   </wsdl:message>

   <wsdl:message name="revealCipherResponse">

      <wsdl:part name="revealCipherReturn" type="impl:ResponseData"/>

   </wsdl:message>

   <wsdl:message name="revealResponse">

      <wsdl:part name="revealReturn" type="impl:ResponseData"/>

   </wsdl:message>

   <wsdl:message name="retrieveFromWasteBasketBulkRequest">

      <wsdl:part name="apiKey" type="xsd:string"/>

      <wsdl:part name="protectionStrategyName" type="xsd:string"/>

      <wsdl:part name="tokens" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="emptyWasteBasketRequest">

      <wsdl:part name="apiKey" type="xsd:string"/>

      <wsdl:part name="protectionStrategyName" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="protectCipherResponse">

      <wsdl:part name="protectCipherReturn" type="impl:ResponseData"/>

   </wsdl:message>

   <wsdl:message name="protectBulkRequest1">

      <wsdl:part name="apiKey" type="xsd:string"/>

      <wsdl:part name="protectionStrategyName" type="xsd:string"/>

      <wsdl:part name="data" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="protectBulkResponse">

      <wsdl:part name="protectBulkReturn" type="impl:ArrayOfResponseData"/>

   </wsdl:message>

   <wsdl:message name="purgeTokensResponse">

      <wsdl:part name="purgeTokensReturn" type="impl:ResponseData"/>

   </wsdl:message>

   <wsdl:message name="lookupTokensRequest">

      <wsdl:part name="apiKey" type="xsd:string"/>

      <wsdl:part name="protectionStrategyName" type="xsd:string"/>

      <wsdl:part name="data" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="lookupTokenRequest">

      <wsdl:part name="apiKey" type="xsd:string"/>

      <wsdl:part name="protectionStrategyName" type="xsd:string"/>

      <wsdl:part name="data" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="protectBulkResponse1">

      <wsdl:part name="protectBulkReturn" type="impl:ArrayOfResponseData"/>

   </wsdl:message>

   <wsdl:message name="protectCipherResponse1">

      <wsdl:part name="protectCipherReturn" type="impl:ResponseData"/>

   </wsdl:message>

   <wsdl:message name="protectCipherBulkRequest1">

      <wsdl:part name="apiKey" type="xsd:string"/>

      <wsdl:part name="protectionStrategyName" type="xsd:string"/>

      <wsdl:part name="encryptedData" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="purgeTokensRequest">

      <wsdl:part name="apiKey" type="xsd:string"/>

      <wsdl:part name="protectionStrategyName" type="xsd:string"/>

      <wsdl:part name="date" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="lookupTokenBulkResponse">

      <wsdl:part name="lookupTokenBulkReturn" type="impl:ArrayOfResponseData"/>

   </wsdl:message>

   <wsdl:message name="lookupTokenResponse">

      <wsdl:part name="lookupTokenReturn" type="impl:ResponseData"/>

   </wsdl:message>

   <wsdl:message name="retrieveFromWasteBasketRequest">

      <wsdl:part name="apiKey" type="xsd:string"/>

      <wsdl:part name="protectionStrategyName" type="xsd:string"/>

      <wsdl:part name="token" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="protectBulkRequest">

      <wsdl:part name="apiKey" type="xsd:string"/>

      <wsdl:part name="protectionStrategyName" type="xsd:string"/>

      <wsdl:part name="data" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="userName" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="protectCipherBulkResponse1">

      <wsdl:part name="protectCipherBulkReturn" type="impl:ArrayOfResponseData"/>

   </wsdl:message>

   <wsdl:message name="revealCipherRequest">

      <wsdl:part name="apiKey" type="xsd:string"/>

      <wsdl:part name="protectionStrategyName" type="xsd:string"/>

      <wsdl:part name="token" type="xsd:string"/>

      <wsdl:part name="userName" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="sendToWasteBasketRequest">

      <wsdl:part name="apiKey" type="xsd:string"/>

      <wsdl:part name="protectionStrategyName" type="xsd:string"/>

      <wsdl:part name="token" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="revealBulkResponse">

      <wsdl:part name="revealBulkReturn" type="impl:ArrayOfResponseData"/>

   </wsdl:message>

   <wsdl:message name="emptyWasteBasketResponse">

      <wsdl:part name="emptyWasteBasketReturn" type="impl:ResponseData"/>

   </wsdl:message>

   <wsdl:message name="protectResponse1">

      <wsdl:part name="protectReturn" type="impl:ResponseData"/>

   </wsdl:message>

   <wsdl:message name="protectCipherBulkResponse">

      <wsdl:part name="protectCipherBulkReturn" type="impl:ArrayOfResponseData"/>

   </wsdl:message>

   <wsdl:message name="revealRequest">

      <wsdl:part name="apiKey" type="xsd:string"/>

      <wsdl:part name="protectionStrategyName" type="xsd:string"/>

      <wsdl:part name="token" type="xsd:string"/>

      <wsdl:part name="userName" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="retrieveFromWasteBasketBulkResponse">

      <wsdl:part name="retrieveFromWasteBasketBulkReturn" type="impl:ArrayOfResponseData"/>

   </wsdl:message>

   <wsdl:portType name="TokenManagerWebServicerl26">

      <wsdl:operation name="revealCipher" parameterOrder="apiKey protectionStrategyName token userName">

         <wsdl:input message="impl:revealCipherRequest" name="revealCipherRequest"/>

         <wsdl:output message="impl:revealCipherResponse" name="revealCipherResponse"/>

      </wsdl:operation>

      <wsdl:operation name="revealCipherBulk" parameterOrder="apiKey protectionStrategyName token userName">

         <wsdl:input message="impl:revealCipherBulkRequest" name="revealCipherBulkRequest"/>

         <wsdl:output message="impl:revealCipherBulkResponse" name="revealCipherBulkResponse"/>

      </wsdl:operation>

      <wsdl:operation name="lookupTokenBulk" parameterOrder="apiKey protectionStrategyName data">

         <wsdl:input message="impl:lookupTokenBulkRequest" name="lookupTokenBulkRequest"/>

         <wsdl:output message="impl:lookupTokenBulkResponse" name="lookupTokenBulkResponse"/>

      </wsdl:operation>

      <wsdl:operation name="protectCipher" parameterOrder="apiKey protectionStrategyName encryptedData userName">

         <wsdl:input message="impl:protectCipherRequest" name="protectCipherRequest"/>

         <wsdl:output message="impl:protectCipherResponse" name="protectCipherResponse"/>

      </wsdl:operation>

      <wsdl:operation name="protectCipher" parameterOrder="apiKey protectionStrategyName encryptedData">

         <wsdl:input message="impl:protectCipherRequest1" name="protectCipherRequest1"/>

         <wsdl:output message="impl:protectCipherResponse1" name="protectCipherResponse1"/>

      </wsdl:operation>

      <wsdl:operation name="protectBulk" parameterOrder="apiKey protectionStrategyName data userName">

         <wsdl:input message="impl:protectBulkRequest" name="protectBulkRequest"/>

         <wsdl:output message="impl:protectBulkResponse" name="protectBulkResponse"/>

      </wsdl:operation>

      <wsdl:operation name="protectBulk" parameterOrder="apiKey protectionStrategyName data">

         <wsdl:input message="impl:protectBulkRequest1" name="protectBulkRequest1"/>

         <wsdl:output message="impl:protectBulkResponse1" name="protectBulkResponse1"/>

      </wsdl:operation>

      <wsdl:operation name="protectCipherBulk" parameterOrder="apiKey protectionStrategyName encryptedData userName">

         <wsdl:input message="impl:protectCipherBulkRequest" name="protectCipherBulkRequest"/>

         <wsdl:output message="impl:protectCipherBulkResponse" name="protectCipherBulkResponse"/>

      </wsdl:operation>

      <wsdl:operation name="protectCipherBulk" parameterOrder="apiKey protectionStrategyName encryptedData">

         <wsdl:input message="impl:protectCipherBulkRequest1" name="protectCipherBulkRequest1"/>

         <wsdl:output message="impl:protectCipherBulkResponse1" name="protectCipherBulkResponse1"/>

      </wsdl:operation>

      <wsdl:operation name="protect" parameterOrder="apiKey protectionStrategyName data userName">

         <wsdl:input message="impl:protectRequest" name="protectRequest"/>

         <wsdl:output message="impl:protectResponse" name="protectResponse"/>

      </wsdl:operation>

      <wsdl:operation name="protect" parameterOrder="apiKey protectionStrategyName data">

         <wsdl:input message="impl:protectRequest1" name="protectRequest1"/>

         <wsdl:output message="impl:protectResponse1" name="protectResponse1"/>

      </wsdl:operation>

      <wsdl:operation name="lookupTokens" parameterOrder="apiKey protectionStrategyName data">

         <wsdl:input message="impl:lookupTokensRequest" name="lookupTokensRequest"/>

         <wsdl:output message="impl:lookupTokensResponse" name="lookupTokensResponse"/>

      </wsdl:operation>

      <wsdl:operation name="purgeTokens" parameterOrder="apiKey protectionStrategyName date">

         <wsdl:input message="impl:purgeTokensRequest" name="purgeTokensRequest"/>

         <wsdl:output message="impl:purgeTokensResponse" name="purgeTokensResponse"/>

      </wsdl:operation>

      <wsdl:operation name="reveal" parameterOrder="apiKey protectionStrategyName token userName">

         <wsdl:input message="impl:revealRequest" name="revealRequest"/>

         <wsdl:output message="impl:revealResponse" name="revealResponse"/>

      </wsdl:operation>

      <wsdl:operation name="lookupToken" parameterOrder="apiKey protectionStrategyName data">

         <wsdl:input message="impl:lookupTokenRequest" name="lookupTokenRequest"/>

         <wsdl:output message="impl:lookupTokenResponse" name="lookupTokenResponse"/>

      </wsdl:operation>

      <wsdl:operation name="emptyWasteBasket" parameterOrder="apiKey protectionStrategyName">

         <wsdl:input message="impl:emptyWasteBasketRequest" name="emptyWasteBasketRequest"/>

         <wsdl:output message="impl:emptyWasteBasketResponse" name="emptyWasteBasketResponse"/>

      </wsdl:operation>

      <wsdl:operation name="revealBulk" parameterOrder="apiKey protectionStrategyName token userName">

         <wsdl:input message="impl:revealBulkRequest" name="revealBulkRequest"/>

         <wsdl:output message="impl:revealBulkResponse" name="revealBulkResponse"/>

      </wsdl:operation>

      <wsdl:operation name="sendToWasteBasket" parameterOrder="apiKey protectionStrategyName token">

         <wsdl:input message="impl:sendToWasteBasketRequest" name="sendToWasteBasketRequest"/>

         <wsdl:output message="impl:sendToWasteBasketResponse" name="sendToWasteBasketResponse"/>

      </wsdl:operation>

      <wsdl:operation name="sendToWasteBasketBulk" parameterOrder="apiKey protectionStrategyName tokens">

         <wsdl:input message="impl:sendToWasteBasketBulkRequest" name="sendToWasteBasketBulkRequest"/>

         <wsdl:output message="impl:sendToWasteBasketBulkResponse" name="sendToWasteBasketBulkResponse"/>

      </wsdl:operation>

      <wsdl:operation name="retrieveFromWasteBasket" parameterOrder="apiKey protectionStrategyName token">

         <wsdl:input message="impl:retrieveFromWasteBasketRequest" name="retrieveFromWasteBasketRequest"/>

         <wsdl:output message="impl:retrieveFromWasteBasketResponse" name="retrieveFromWasteBasketResponse"/>

      </wsdl:operation>

      <wsdl:operation name="retrieveFromWasteBasketBulk" parameterOrder="apiKey protectionStrategyName tokens">

         <wsdl:input message="impl:retrieveFromWasteBasketBulkRequest" name="retrieveFromWasteBasketBulkRequest"/>

         <wsdl:output message="impl:retrieveFromWasteBasketBulkResponse" name="retrieveFromWasteBasketBulkResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TokenService-rl2.6SoapBinding" type="impl:TokenManagerWebServicerl26">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="revealCipher">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="revealCipherRequest">

            <wsdlsoap:body namespace="http://webservice.tokenmanager.nubridges.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="revealCipherResponse">

            <wsdlsoap:body namespace="http://webservice.tokenmanager.nubridges.com" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="revealCipherBulk">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="revealCipherBulkRequest">

            <wsdlsoap:body namespace="http://webservice.tokenmanager.nubridges.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="revealCipherBulkResponse">

            <wsdlsoap:body namespace="http://webservice.tokenmanager.nubridges.com" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="lookupTokenBulk">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="lookupTokenBulkRequest">

            <wsdlsoap:body namespace="http://webservice.tokenmanager.nubridges.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="lookupTokenBulkResponse">

            <wsdlsoap:body namespace="http://webservice.tokenmanager.nubridges.com" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="protectCipher">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="protectCipherRequest">

            <wsdlsoap:body namespace="http://webservice.tokenmanager.nubridges.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="protectCipherResponse">

            <wsdlsoap:body namespace="http://webservice.tokenmanager.nubridges.com" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="protectCipher">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="protectCipherRequest1">

            <wsdlsoap:body namespace="http://webservice.tokenmanager.nubridges.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="protectCipherResponse1">

            <wsdlsoap:body namespace="http://webservice.tokenmanager.nubridges.com" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="protectBulk">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="protectBulkRequest">

            <wsdlsoap:body namespace="http://webservice.tokenmanager.nubridges.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="protectBulkResponse">

            <wsdlsoap:body namespace="http://webservice.tokenmanager.nubridges.com" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="protectBulk">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="protectBulkRequest1">

            <wsdlsoap:body namespace="http://webservice.tokenmanager.nubridges.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="protectBulkResponse1">

            <wsdlsoap:body namespace="http://webservice.tokenmanager.nubridges.com" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="protectCipherBulk">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="protectCipherBulkRequest">

            <wsdlsoap:body namespace="http://webservice.tokenmanager.nubridges.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="protectCipherBulkResponse">

            <wsdlsoap:body namespace="http://webservice.tokenmanager.nubridges.com" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="protectCipherBulk">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="protectCipherBulkRequest1">

            <wsdlsoap:body namespace="http://webservice.tokenmanager.nubridges.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="protectCipherBulkResponse1">

            <wsdlsoap:body namespace="http://webservice.tokenmanager.nubridges.com" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="protect">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="protectRequest">

            <wsdlsoap:body namespace="http://webservice.tokenmanager.nubridges.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="protectResponse">

            <wsdlsoap:body namespace="http://webservice.tokenmanager.nubridges.com" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="protect">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="protectRequest1">

            <wsdlsoap:body namespace="http://webservice.tokenmanager.nubridges.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="protectResponse1">

            <wsdlsoap:body namespace="http://webservice.tokenmanager.nubridges.com" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="lookupTokens">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="lookupTokensRequest">

            <wsdlsoap:body namespace="http://webservice.tokenmanager.nubridges.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="lookupTokensResponse">

            <wsdlsoap:body namespace="http://webservice.tokenmanager.nubridges.com" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="purgeTokens">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="purgeTokensRequest">

            <wsdlsoap:body namespace="http://webservice.tokenmanager.nubridges.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="purgeTokensResponse">

            <wsdlsoap:body namespace="http://webservice.tokenmanager.nubridges.com" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="reveal">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="revealRequest">

            <wsdlsoap:body namespace="http://webservice.tokenmanager.nubridges.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="revealResponse">

            <wsdlsoap:body namespace="http://webservice.tokenmanager.nubridges.com" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="lookupToken">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="lookupTokenRequest">

            <wsdlsoap:body namespace="http://webservice.tokenmanager.nubridges.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="lookupTokenResponse">

            <wsdlsoap:body namespace="http://webservice.tokenmanager.nubridges.com" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="emptyWasteBasket">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="emptyWasteBasketRequest">

            <wsdlsoap:body namespace="http://webservice.tokenmanager.nubridges.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="emptyWasteBasketResponse">

            <wsdlsoap:body namespace="http://webservice.tokenmanager.nubridges.com" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="revealBulk">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="revealBulkRequest">

            <wsdlsoap:body namespace="http://webservice.tokenmanager.nubridges.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="revealBulkResponse">

            <wsdlsoap:body namespace="http://webservice.tokenmanager.nubridges.com" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sendToWasteBasket">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sendToWasteBasketRequest">

            <wsdlsoap:body namespace="http://webservice.tokenmanager.nubridges.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="sendToWasteBasketResponse">

            <wsdlsoap:body namespace="http://webservice.tokenmanager.nubridges.com" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sendToWasteBasketBulk">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sendToWasteBasketBulkRequest">

            <wsdlsoap:body namespace="http://webservice.tokenmanager.nubridges.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="sendToWasteBasketBulkResponse">

            <wsdlsoap:body namespace="http://webservice.tokenmanager.nubridges.com" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="retrieveFromWasteBasket">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="retrieveFromWasteBasketRequest">

            <wsdlsoap:body namespace="http://webservice.tokenmanager.nubridges.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="retrieveFromWasteBasketResponse">

            <wsdlsoap:body namespace="http://webservice.tokenmanager.nubridges.com" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="retrieveFromWasteBasketBulk">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="retrieveFromWasteBasketBulkRequest">

            <wsdlsoap:body namespace="http://webservice.tokenmanager.nubridges.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="retrieveFromWasteBasketBulkResponse">

            <wsdlsoap:body namespace="http://webservice.tokenmanager.nubridges.com" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TokenService-rl2.6">

      <wsdl:port binding="impl:TokenService-rl2.6SoapBinding" name="TokenService-rl2.6">

         <wsdlsoap:address location="https://10.0.66.25:8443/TokenManagerEngine/services/TokenService-rl2.6"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
